/* Reset de browser (Navegadores) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Configuração da Página */
body {
    color: #263138;
}

/* Cabeçalho - Menu */
.menu {
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;

    /* fixar o menu no otpo */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.menu nav a {
    color: #f0f0f0;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

/* Configuração - Seção INÍCIO / CLÍNICA / FARMÁCIA / DÚVIDAS*/
#inicio,
#clinica,
#farmacia {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}

/* Configuração - Div da Seção FARMÁCIA*/
#farmacia div {
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

h1, h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 64px;
}

/* configuração dos botões */
.botao {
    background-color: #ff9a6c;
    border-radius: 8px;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: -10;
}

.paragrafo-clinica {
    line-height: 150%;
    margin-bottom: 15px;
}

ul {
    margin-bottom: 32px;
}

li {
    list-style-position: inside;
    padding: 0 0 15px 12px;
}